<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <style>
        body {
            font-size: 18px;
            font-family: Calibri, sans-serif;
        }

        button {
            width: 100px;
            height: 30px;
            text-align: center;
            vertical-align: center;
            font-weight: bold;
            margin: 20px;
        }

        input {
            width: 100px;
            margin: 20px;
            font-size: 16px;
        }

        h1 {
            color: #333;
        }
    </style>
</head>
<body>
<h1>Login</h1>
<form th:action="@{/login}" method="post">
    <div>
        <label>Username:</label>
        <input type="text" name="username"/>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password"/>
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
</form>
</body>
</html>