<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Restaurant Chefs - Welcome to Our Restaurant</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
            font-family: Arial, sans-serif;
        }

        h1 {
            color: #333;
        }
    </style>
</head>
<body>
<header>
    <h1>Welcome to Our Restaurant</h1>
</header>
<main>
    <h2>Choose a chef:</h2>
    <form action="/dish" method="POST">
        <input th:each="chef : ${chefs}" type="radio" name="chefId" th:value="${chef.getId()}"
               th:utext="'Name: '+${chef.getFirstName()}+' '+${chef.getLastName()}+'<br>Bio: '+${chef.getBio()}+'<br><br>'"><br/>
        <input type="submit" value="Submit">
    </form>
</main>
</body>
</html>